{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.dev.js"
      },
      "node": {
        "extensions": [".ts", ".tsx", ".js"]
      }
    }
  },
  "plugins": ["react", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:react/recommended",
    "airbnb-typescript"
  ],
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-console": "off",
    "import/order": "off",
    "global-require": "off",
    "consistent-return": "off",
    "react/display-name": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": "off",
    "class-methods-use-this": "off",
    "react/prefer-stateless-function": "off",
    "import/prefer-default-export": "off",
    "import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/quotes": ["error", "double"],
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-member-access": "off"
  },
  "ignorePatterns": ["/config"]
}
