//Colors
$clr-white-1: #fff;
$clr-white-2: #fefefe;
$clr-white-3: #d6d5d5;
$clr-white-4: #f9f9f9;

$clr-gray-1: #eff2f3;
$clr-gray-2: #c9c6c6;
$clr-gray-3: #aaaaaa;
$clr-gray-4: #686868;
$clr-gray-5: #4b4d4b;
$clr-gray-6: #333333;
$clr-gray-7: #2b2b2b;
$clr-gray-8: #2f2f2f;
$clr-gray-9: #2e2e2e;
$clr-gray-10: #464547;
$clr-gray-11: #3b3d3b;
$clr-gray-12: #757575;
$clr-gray-13: #a39a9a;

$clr-green-1: #23a455;
$clr-blue-1: #269cc1;
$clr-blue-2: #e0edf8;

$clr-black-1: #000000;
